<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %h %l %u "%r" [%s] %b "%i{Referer}" "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />
</configuration>